@inject NavigationManager NavigationManager
<button @onclick="NavigateToOrder">Book This Car</button>

@code {
	[Parameter]
	public int Id { get; set; }

	void NavigateToOrder()
	{
		NavigationManager.NavigateTo($"/userpages/cars/order/{Id}");
	}
}