@using FribergRentals.Data.Models
@using FribergRentals.Data.Repositories

@inject CustomerRepo CustomerRepo


<h3>Component</h3>

@code {
    public Customer Customer { get; set; }

    public bool Success;
    public bool Error;
    public bool Busy;
    public string ErrorMessage = string.Empty;

    protected override Task OnInitializedAsync()
    {
        Customer = new Customer();
        return base.OnInitializedAsync();
    }
    public async Task ValidationResultAsync(bool success)
    {
        if (!success)
        {
            Success = false;
            Error = false;
            return;
        }

        Busy = true;

        try
        {
            CustomerRepo.Add(Customer);
            Success = true;
            Error = false;
            // ready for the next
            Customer = new Customer();
            Busy = false;
        }
        catch (Exception ex)
        {
            Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }
}
