@page "/admin"

<div>
    <NavLink href="/admin/cars">Cars</NavLink>
</div>

<div>
    <NavLink href="/admin/categories">Categories</NavLink>
</div>

<div>
    <NavLink href="/admin/users">Users</NavLink>
</div>

<div>
    <NavLink href="/admin/orders">Orders</NavLink>
</div>

@code {

}
