@inherits ComponentBase
@rendermode InteractiveServer
<div>

	<input type="checkbox" id="@Id" checked="@IsSelected" @onchange="CheckBoxChanged" />
	<label for="@Id">@Name</label>

</div>


@code {
	[Parameter]
	public string Name { get; set; }
	[Parameter]
	public int Id { get; set; }
	[Parameter]
	public EventCallback<int> OnCategorySelection { get; set; }
	[Parameter]
	public bool IsSelected { get; set; }

	protected async Task CheckBoxChanged(ChangeEventArgs e)
	{
		IsSelected = (bool)e.Value;
		await OnCategorySelection.InvokeAsync(Id);
	}

}
