@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="EditOrder">Edit</button>
@code {
	[Parameter]
	public int Id { get; set; }

	void EditOrder()
	{
		NavigationManager.NavigateTo($"admin/orders/edit/{Id}");
	}
}