@rendermode InteractiveServer

<button @onclick="EditCategory">Edit</button>
@code {
	[Parameter]
	public int Id { get; set; }

	void EditCategory()
	{
		NavigationManager.NavigateTo($"admin/categories/edit/{Id}");
	}
}
