<footer class="footer">
    <div class="logo">
        <NavLink href="/" Match="NavLinkMatch.All">
            <span class="top">FRIBERG</span><br />
            <span class="bottom">RENTALS</span>
        </NavLink>
    </div>
    <div class="links">
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/search" Match="NavLinkMatch.All">Find Car</NavLink>
        <a href="mailto:admin@fribergrentals.com">Contact Us</a>
    </div>
    <div class="copyright">
        <p>© Grupp Golf, 2024</p>
    </div>
</footer>

@code {

}
