@rendermode InteractiveServer

<button @onclick="EditCar">
	<span class="material-symbols-outlined">
		edit
	</span>
</button>
@code {
	[Parameter]
	public string Url { get; set; }
	[Parameter]
	public int Id { get; set; }

	void EditCar()
	{
		NavigationManager.NavigateTo($"{Url}/{Id}");
	}
}
