@rendermode InteractiveServer

<button @onclick="EditCar">Edit</button>
@code {
	[Parameter]
	public string Url { get; set; }
	[Parameter]
	public int Id { get; set; }

	void EditCar()
	{
		NavigationManager.NavigateTo($"{Url}/{Id}");
	}
}
