@page "/admin/users/deleteuser"
@inject IUser<User> UserRepo
<h3>DeleteUser</h3>

@code {
    [Parameter]
    public int Id { get; set; }

    public User User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await UserRepo.GetByIdAsync(Id);
    }

    public async Task Submit()
    {
        await UserRepo.DeleteAsync(Id);
    }
}
