@page "/Admin/Users/EditCustomer"
@inject ICustomer CustomerRepo 
@inject NavigationManager NavigationManager
@rendermode InteractiveServer




    <h3>Edit Customer</h3>

    <EditForm Model="Customer" OnSubmit="Submit" FormName="EditCustomer">
        <div>
            <label>Firstname</label>
            <InputText @bind-Value="Customer.FirstName" placeholder="@Customer.FirstName"></InputText>
        </div>
        <div>
            <label>Model</label>
            <InputText @bind-Value="Customer.LastName" placeholder="@Customer.LastName"></InputText>
        </div>
        <div>
            <label>Description</label>
            <InputText @bind-Value="Customer.Email" placeholder="@Customer.Email"></InputText>
        </div>
        <button type="submit">Edit</button>
    </EditForm>




  
    @*hejsan hoppsan*@


    @code {
    [Parameter]
    public int Id { get; set; }

    public Customer Customer { get; set; }
 

    protected override async Task OnInitializedAsync()
    {
        Customer = await CustomerRepo.GetByIdAsync(Id);
    }

    public async Task Submit()
    {
        await CustomerRepo.EditAsync(Customer);
    }
    async Task Delete()
    {
        await CustomerRepo.DeleteAsync(Customer.Id);
        NavigationManager.NavigateTo("admin/Customers");
    }
}
