@page "/"

<section class="hero">
    <h2>Explore. Adventure. Discover. Start Your Journey with Friberg Rentals</h2>
    <NavLink href="/search" Match="NavLinkMatch.All">
        <button class="btn">
            Get Started
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </button>
    </NavLink>
</section>


<section class="partners">
    <h3>Trusted Partners:</h3>
    <div class="brands">
        <img class="brand" src="/svg/audi.svg" />
        <img class="brand" src="/svg/bmw.svg" />
        <img class="brand" src="/svg/tesla.svg" />
        <img class="brand" src="/svg/mercedes-benz.svg" />
        <img class="brand" src="/svg/ford.svg" />
        <img class="brand" src="/svg/volvo.svg" />
    </div>
</section>




