@inject IUser<User> UserRepo
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations

<div class="login-page">
    <EditForm class="form" Model="LoginForm" OnSubmit="LogIn" FormName="LogInForm">
        <div>
            <span class="material-symbols-outlined">mail</span>
            <InputText @bind-Value="LoginForm.Email" placeholder="Email"></InputText>
        </div>
        <div>
            <span class="material-symbols-outlined">
                lock
            </span>
            <InputText type="password" @bind-Value="LoginForm.Password" placeholder="Password"></InputText>
        </div>
        <button class="login-btn" type="submit">Log In</button>
        <p class="create-account">Don't have an account yet? <NavLink href="/createaccount">Sign up now.</NavLink></p>
    </EditForm>
</div>



@code {
    public class LoginModel
    {
        [Required(AllowEmptyStrings = false, ErrorMessage = "Please provide an email address.")]
        public string Email { get; set; }
        [Required(AllowEmptyStrings = false, ErrorMessage = "Please provide a password")]
        public string Password { get; set; }
    }

    [SupplyParameterFromForm]
    public LoginModel LoginForm { get; set; } = new LoginModel();

    bool isLoggedIn;

    async Task LogIn()
    {
        HttpContext HttpContext = HttpContextAccessor.HttpContext;
        if (!string.IsNullOrEmpty(LoginForm.Email) && !string.IsNullOrEmpty(LoginForm.Password))
        {
            User user = await UserRepo.ValidateUser(LoginForm.Email, LoginForm.Password);
            if (user != null)
            {
                string sessionToken = Guid.NewGuid().ToString("N");
                UserRepo.UpdateSessionToken(user, sessionToken);
                HttpContext.Response.Cookies.Append("SessionToken", sessionToken, new CookieOptions
                    {
                        HttpOnly = true,
                        Secure = true,
                        SameSite = SameSiteMode.Strict,
                        Expires = DateTimeOffset.Now.AddMinutes(60),
                        Path = "/"
                    });
                NavigationManager.NavigateTo("/");
            }
        }
    }
}
