@page "/admin/categories"
@using FribergRentals.Data.Models

@rendermode InteractiveServer

<div class="card page-card">
	@if (categories == null)
	{
		<span>No Categories</span>
	}
	else if (categories.Count == 0)
	{
		<span>No Categories</span>
	}
	else
	{
		<table>
			<thead>
				<tr>
					<th colspan="2">Categories</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in categories)
				{
					<tr>
						<td>
							@category.Name
						</td>
						<td>
							<EditCategoryButton Id="category.Id" />
						</td> 
					</tr>
				}
			</tbody>
		</table>
	}

	<button class="btn dark" @onclick="CreateCategory">Create New</button>
</div>


@code {

	List<Category>? categories = null;

	protected override async Task OnInitializedAsync()
	{
		categories = await CategoryRepo.GetAll();
	}

	void CreateCategory()
	{
		NavigationManager.NavigateTo("admin/categories/edit/");
	}
}