@page "/admin/categories/edit"
@page "/admin/categories/edit/{id:int}"

@rendermode InteractiveServer

<div class="card page-card">
	<EditForm class="form edit" Model="category" OnSubmit="HandleSubmit" FormName="editCategory">
		@if (Id == null)
		{
			<h3>Create Category</h3>
		}
		else
		{
			<h3>Edit Category</h3>
		}
		<div class="flex-row">
			<label>Name</label>
			<InputText @bind-Value="category.Name">@category.Name</InputText>
		</div>
		<div class="form-btns">
			<button class="form-btn" type="submit">Submit</button>
			@if (Id != null)
			{
				<button class="form-btn danger" @onclick="DeleteCategory" type="button">Delete</button>
			}
		</div>
		
	</EditForm>
</div>



@code {
	[Parameter]
	public int? Id { get; set; }
	[SupplyParameterFromForm]
	Category category { get; set; } = new Category();

	protected override async Task OnParametersSetAsync()
	{
		if (Id != null)
		{
			category = await CategoryRepo.GetByIdAsync((int)Id);
		}

	}

	async Task HandleSubmit()
	{
		if (Id == null)
		{
			await CategoryRepo.Add(category);
		}
		else
		{
			await CategoryRepo.Edit(category);
		}
		NavigationManager.NavigateTo("admin/categories");
	}

	async Task DeleteCategory()
	{
		await CategoryRepo.Delete((int)Id);
		NavigationManager.NavigateTo("admin/categories");
	}
}
